doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap-theme.min.css')
  body
    block content
    script(src='/components/jquery/dist/js/jquery.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
